*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.wavelength{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.play-button{
    z-index: 100;
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.gain-range{
    z-index: 100;
    position: fixed;
    bottom: 40px;
    left: 40px;
}

.freq-range{
    z-index: 100;
    bottom: 90px;
    left: 90px;
    position: fixed;
}